/*index.html*/
.index1{
	padding: 15px 10px;
	border-bottom: 1px solid gainsboro;
} 
.index1 h3{
	font-weight:bolder;
}
.index1 .indexSP{
	font-size: 0.7rem;
	color: gray;
}
.index2{
	padding: 10px;
}
.index2 h4{
	margin:5px 0px;
	font-size: 0.9rem;
	font-weight:bolder;
}
.index2 p{
	font-size: 0.9rem;
	text-indent:2em;
	margin:5px 0px;
}
.index2 em{
	display: block;
	font-size: 0.8rem;
	margin:5px 0px;
}
.index2>img{
	width: 100%;
	margin:5px 0px;
}
.site{
	width: 100%;
	height: 300px;
	margin:15px 0px;
}
/*fromP.html*/
.wrap2{
	margin: 15px 5px;
	border: 2px solid #1AAD19;
	border-top: 0px;
}
.wrap2 .fromC1{
	text-align: center;
	line-height: 35px;
	color: white;
	background: #1AAD19;
}
.wrap2 .fromC2{
	margin: 10px 0px 10px;
	text-align: center;
	line-height: 35px;
	color: black;
	background: rgba(26, 173, 25, 0.17);
}
.wrap2 .fromTp{
	padding: 0px 10px 20px;
}
.wrap2 .fromTp div{
	margin:5px 0px;
}
.wrap2 .fromSbtd {
	text-align: center;
}
.wrap2 .fromSbt{
	width: 100%;
    border-radius: 0px;
    height: 35px;
    margin-top: 15px;
    background: #1AAD19;
    border: 0px;
    color: white;
    font-size: 1rem;
}
.wrap2 .fromTp div{
	margin-bottom: 10px;
}
.wrap2 .fromTp p{
	font-size: 0.9rem;
}
.fromTp input{
	width: 100%;
	height: 38px;
	font-size: 0.9rem;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
}
.wrap2 .fromTp select{
	width: 100%;
    font-size: 0.9rem;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 3px;
}
.wrap2 .fromTp .inpCode{
	width: 55%;
	margin-right:30px; 
}
.wrap2 .fromTp .inpImg{
	width: 80px;
}
.wrap2 .textIne{
	text-indent: 10px;
}
/*accredit.html*/
.wrap1{
	padding: 50px 10px 0px;
	text-align: center;
}
.accred1_p{
	padding: 10px 0px;
	font-family:cursive;
	font-size: 1.3rem;
}
.accredIpt1{
	width: 80%;
    height: 35px;
    margin: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    text-indent: 10px;
    color: black;
}
.accredIpt2{
	width: 81%;
    height: 40px;
    border: 0px;
    padding: 0px;
    background: #1AAD19;
    font-size: 1rem;
    color: white;
    border-radius: 3px;
}
.acced2{
	padding: 20px 0px;
}
.accred_d1{
    border-radius: 3px;
	display: inline-block;
    width: 100px;
    margin-bottom: 70px;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    color: white;
    background: #1AAD19;
}
.accred_d2{
    color: black;
	font-size: 0.8rem;
	text-decoration:underline;
	margin-bottom: 15px;
}
.accred_p1{
	font-size: 0.8rem;
}
.accred_p2{
	font-size: 0.8rem;
	margin-bottom: 10px;
}
.accredForm span{
	margin:0px 5px;
}
/*brand_html*/
.index2 .contfont{
    text-align: center;
    text-indent: 0px;
}
/*operation.html*/
.operation h5{
    margin:5px 0px;
    font-size: 0.95rem;
}
.operation p{
    text-align: center;
    margin:5px 10px;
    font-size:0.9rem;
}
.operation img{
    width: 100%;
}