/*基本样式*/
html{ -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color :rgba(0,0,0,0);-moz-tap-highlight-color :rgba(0,0,0,0);}
body{ font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;margin:0;background-color:#fff;height:100%;overflow-x:hidden;-webkit-overflow-scrolling:touch; margin:0 auto;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{ display:block;}
audio,canvas,progress,video{ display:inline-block;vertical-align:baseline;}
audio:not([controls]){ display:none;height:0;}[hidden],template{ display:none;}
svg:not(:root){ overflow:hidden;}em,s,i{font-style:normal;}
sub,sup{ font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{ top:-0.5em;}sub{ bottom:-0.25em;}
img{ border:0;vertical-align:middle;}hr{ -moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{ overflow:auto;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
code,kbd,pre,samp{ font-family:monospace,monospace;font-size:1em;}
optgroup,select{ color:inherit;font:inherit;margin:0;outline:none;border:0;}
button{ overflow:visible;}button,select{ text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{ cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{ border:0;padding:0;}
fieldset{ border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{ border:0;padding:0;}textarea{ overflow:auto;resize:vertical;}optgroup{ font-weight:bold;}
/*table{ border-collapse:collapse;border-spacing:0;}td,th{ padding:0;}
*/button,input,select,textarea{ font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote{ margin:0;}
ul,ol,li,dl,dd{ margin:0;padding:0;}ul,ol{ list-style:none outside none;}
.eli{white-space:nowrap;text-overflow:ellipsis/*clip*/;overflow:hidden;}
.red{ color:#F00;}.green{color:green;}
.fl{float: left;}.fr{float: right; }.clear{clear:both;float:none;}
.hide{ display:none;}.show{ display:block !important;}
.t-l{text-align: left;}.t-c{text-align: center;}.t-r{text-align: right;}
a{text-decoration: none;}li{list-style: none;}
.of{overflow: hidden;}
.mcf:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.mfto{overflow: hidden;display: -webkit-box;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.mftt{overflow: hidden;display: -webkit-box;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.overWrap{
	max-width: 1024px;
	margin: 0 auto;
}
/*头部*/
header{
	max-width: 1024px;
	height: 45px;
    background: #f13030;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
}
header .mui-title{
	width: auto;
	font-size: 1.2rem;
    color: white;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
	white-space: nowrap;
    text-overflow: ellipsis;
    right: 40px;
    left: 40px;
    position: absolute;
    top: 0;
	bottom: 0;
    margin: auto;
}
header .mui-icon{
    width: 45px;
    height: 45px;
    position: relative;
}
header .mui-icon img{
	width: 27px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*indexPage.html*/
.mui-left{
    float: left;
}
.mui-right{
    float: right;
}
/*滚动图*/
.swiper-container {
	padding-top: 45px;
}
.swiper-container .swiper-slide img{
	width: 100%;
	/*height: 200px;*/
}
.swiper-pagination-bullet-active{
	background: white;
}
/*四方格*/
.table-view{
	display: flex;
	justify-content: space-between;
}
.table-view-cell{
	margin: 10px;
    width: 25%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.table-view-cell img{
    width: 100%;
}
.table-view-cell p{
	margin: 5px 0px;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 0.9rem;
    color: black;	
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;	
}
/*产品列表*/
.productCont{
	padding-top: 5px;
	background: #f3f3f3;
}
.produ-Font{
	height:40px;
	background: url(../images/produBg1.png) no-repeat center;
	background-size:100% 100%;
}
.produ-Font .produ-tint{
	color: #fd9426;
}
.produ-Font .produ-tint{
	letter-spacing:6px;
	line-height: 40px;
	text-align: center;
	font-weight:bolder;
	color: #fd9426;
	font-weight: bold;
	font-family: helvetica;
	text-align:center;
	background: -moz-linear-gradient(left top, #fd608c, #fd9426);
	background: -webkit-linear-gradient(left top, #fd608c, #fd9426);
	background: -o-linear-gradient(left top, #fd608c, #fd9426);     /* 背景色渐变 */
	-webkit-background-clip: text;         /* 规定背景的划分区域 */
	-webkit-text-fill-color: transparent;  /* 防止字体颜色覆盖 */
}
.productCont .produTop img{
	width: 100%;
	padding-bottom: 5px;
}
.produ-grid{
	vertical-align: baseline;
		box-sizing: border-box;
}
.produ-li{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-bottom: 5px;
}
.produ-li img{
	width: 100%;
}
.produ-grid .produ-li:nth-child(2n+1) {
    padding-right: 2px;
}
.produ-grid .produ-li:nth-child(2n) {
    padding-left: 2px;
}
/*回到顶部样式*/
#mui-top {
	width:35px; 
	height:35px; 
	border-radius: 50%;
	position:fixed; 
	right:20px; 
	bottom:20px; 
	display:none; 
	background:url(../images/top.png) no-repeat center;
	background-size:100%; 
}

