/*!*基本样式*!
html{ -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color :rgba(0,0,0,0);-moz-tap-highlight-color :rgba(0,0,0,0);}
body{ font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;margin:0;background-color:#fff;height:100%;overflow-x:hidden;-webkit-overflow-scrolling:touch; margin:0 auto;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{ display:block;}
audio,canvas,progress,video{ display:inline-block;vertical-align:baseline;}
audio:not([controls]){ display:none;height:0;}[hidden],template{ display:none;}
svg:not(:root){ overflow:hidden;}em,s,i{font-style:normal;}
sub,sup{ font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{ top:-0.5em;}sub{ bottom:-0.25em;}
img{ border:0;vertical-align:middle;}hr{ -moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{ overflow:auto;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
code,kbd,pre,samp{ font-family:monospace,monospace;font-size:1em;}
optgroup,select{ color:inherit;font:inherit;margin:0;outline:none;border:0;}
button{ overflow:visible;}button,select{ text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{ cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{ border:0;padding:0;}
fieldset{ border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{ border:0;padding:0;}textarea{ overflow:auto;resize:vertical;}optgroup{ font-weight:bold;}
!*table{ border-collapse:collapse;border-spacing:0;}td,th{ padding:0;}
*!button,input,select,textarea{ font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote{ margin:0;}
ul,ol,li,dl,dd{ margin:0;padding:0;}ul,ol{ list-style:none outside none;}
.eli{white-space:nowrap;text-overflow:ellipsis!*clip*!;overflow:hidden;}
.red{ color:#F00;}.green{color:green;}
.fl{float: left;}.fr{float: right; }.clear{clear:both;float:none;}
.hide{ display:none;}.show{ display:block !important;}
.t-l{text-align: left;}.t-c{text-align: center;}.t-r{text-align: right;}
a{text-decoration: none;}li{list-style: none;}
.of{overflow: hidden;}*/
/*basic样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { width:100%; height:100%; background:#FFF; color:#999; font:12px Arial, Helvetica, sans-serif; position:relative; left:0; top:0; }
/*body { width:100%; height:100%; background:#FFF; color:#999; font:12px/1.5em Arial, Helvetica, sans-serif; position:relative; left:0; top:0; }*/
h1, h2, h3, h4, h5, h6 { font-size:1em; }
a,a:hover { color:#333; text-decoration:none; }
a:hover { color:#c40000; }
fieldset, img { border:none; }
legend { display:none; }
ol,ul,li { list-style:none; }
em, strong, cite, th { font-style:normal; font-weight:400; }
input, textarea, select, button { font:12px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html { overflow:-moz-scrollbars-vertical; }
/* common style */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/*\*/ .clearfix {display:block;} /**/
.lf{
    float: left;
}
.rf{
    float: right;
}
.cls{
    clear: both;
}
html,body {
    -ms-overflow-style: scrollbar;
}